body {

    margin:0;
    padding:0;
    color:#000;
    background-size:cover;
    height: 100%;
}

div {margin:0 auto; display: block;}

.show_info {
    width:80%;
    margin:0 auto;
    margin-top: 5px;
    text-align: left;
    color: #fff;
}
.show_info p {
    margin-left: 80px;
    color: #fff;
}
.show_info u {
    margin-left: 80px;
    color: #fff;
}

.show_info_session {
    color: #fff;
    margin:0 auto;
    margin-top: 5px;
    margin-left: 30px;
    text-align: left;
}
.header_container {
    min-width:800px; width: 800px;
    height:250px;
    margin-top:0;
    color: #fff;
    background-image: url(/pages/images/header.jpg);
    background-repeat: no-repeat;
    /*background-color: #cb39cc;*/
    padding:15px 10px 10px 10px;
    /*border-radius:8px 8px 8px 8px;*/
    overflow:hidden;
}
.header_container a {
    color: #fff;
    text-align: center;
    /*margin-top: 40px;*/
    /*padding:45px 10px 10px 10px;*/
}
.login_menu{
    min-width:170px;
    float:right;		/*обтекание элемента по правому краю*/
    height:80px;
    /*background-color: #7de4ff;*/
    width:15%;
    padding:45px 10px 10px 10px;
    border-radius:8px 8px 8px 8px;
    overflow:hidden;
}
.login_menu a p{
    color: #fff;
}

.title {
    float:left;
    min-width:800px;
    width:830px;
    height:75px;
    margin-left:0;
    text-align:left;
    padding:25px;
    /*background: url();*/
    background-color:#ccccff;
    overflow:hidden;
    border-radius: 0 8px 8px 0;
}

.registr_form {
    min-width:600px; width: 600px;
    height:600px;
    margin-top:0;
    color: #000;
    text-align: center;
    /*background-image: url(/pages/images/header.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-color: #cb39cc;*/
    padding:10px 10px 10px 10px;
    /*border-radius:8px 8px 8px 8px;*/
    overflow:visible;
}

.movie {
    width:60%;
    margin:0 auto;
    /*margin-top: 5px;*/
    text-align: center;
    color: #fff;
}
.movie a {
    color: #fff;
    text-align: center;
}
.movie i {
    color: #fff;
    text-align: center;
}
.movie_content {
    width:70%;
    margin-top: 0;
    text-align: center;
}
.movie_content i {
    margin-left: 15%;
    text-align: right;
}

.login_form p {
    padding:10px 10px 10px 15px;
    color: #000;
    text-align: center;
}
.login_form_c {
    color: #fff;
}

.update_form {
    padding:15px 15px 15px 15px;
    color: #fff;
}

.update_form td{
    width: 300px;
    padding:10px 10px 10px 10px;
    color: #fff;
}

.inPut {
    width: 300px;
    border: 0;
    margin: 0;
    padding: 2px 0;

}

.inPutDate {
    width: 94px;
}

.footer {
    position: absolute;
    /*left: 120px;*/
    bottom: 0;
    width: 10%;
    height: 40px;
    min-width:210px;
    margin-left: 82%;
    color: #fff
    /*background-color: #cb39cc;*/
    /*background-color: #cb39cc;*/
    overflow:hidden;
    padding:10px 10px 10px 10px;
}
.footer a {
    color: #fff;
    padding:10px 10px 10px 10px;
}

.hall {
    width:60%;
    margin:0 auto;
    margin-top: 5px;
    text-align: center;
    color: #fff;
}

.hall_display {
    width:60%;
    height: 20px;
    margin:0 auto;
    margin-top: 5px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 20px 20px 0px 0px;
}
.hall_row {
    width:90%;
    height: 20px;
    text-align: center;
    color: #fff;
    padding:3px 3px 3px 3px;
}
/*.hall_row i {*/
    /*width:20px;*/
    /*height: 20px;*/
    /*text-align: center;*/
    /*color: #000;*/
    /*padding:6px 6px 6px 6px;*/
    /*margin-left: 3px;*/
    /*background-color: #3bff09;*/
/*}*/
.seat {
    width:20px;
    height: 20px;
    text-align: center;
    color: #000;
    padding:6px 6px 6px 6px;
    margin-left: 3px;
    background-color: #3bff09;
}
.seat-new {
    width:20px;
    height: 20px;
    text-align: center;
    color: #000;
    padding:6px 6px 6px 6px;
    margin-left: 3px;
    background-color: #ff6805;
}
.hall_row_click{
    width:20px;
    height: 20px;
    text-align: center;
    color: #000;
    padding:6px 6px 6px 6px;
    margin-left: 3px;
    background-color: #ff6805;
}


.hall_booking {
    width:80%;
    height: 20px;
    margin-top: 0;
    text-align: center;
    color: #fff;
}
.hall_booking a{
    text-align: center;
    color: #fff;
}

.ticket {
    width:60%;
    margin:0 auto;
    margin-top: 5px;
    text-align: center;
    color: #fff;
}
